
 /* ========================================================================================================================= */

  /* navbar !!!!!!!!!!!!!!! */

.navbar-color {
    background-color: #47345F; /* สีพื้นหลังที่คุณต้องการ */
}

 /* ========================================================================================================================= */

  /* container !!!!!!!!!!!!!!! */

.container-color {
    background-color: #dee2e6;
  }
  
 /* ========================================================================================================================= */

    /* sidebar !!!!!!!!!!!!!!! */
    
  .sidebar.open {
    left: 0; /* นำ sidebar เข้ามาแสดงบนหน้าจอเมื่อเปิด */
  }

  .sidebar {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* เพิ่มเงา */
    background-color: #f8f9fa;
    width: 250px; /* กำหนดความกว้างของ Sidebar */
    height: 100vh; /* ทำให้ Sidebar เต็มสูงของหน้าจอ */
    background-color: #ffffff; /* สีพื้นหลังของ Sidebar */
    position: fixed; 
    /* ติดตั้งตำแหน่ง Sidebar ให้อยู่แนวตั้ง */
    /* top: 0; */
     /* จัดตำแหน่ง Sidebar ที่ด้านบนของหน้าจอ */
    left: -190px; /* ซ่อน Sidebar ไว้ด้านซ้ายของหน้าจอ */
    transition: all 0.3s ease; /* ให้มีการเปลี่ยนแปลงแบบอ่อนโยนเมื่อมีการแสดง/ซ่อน Sidebar */
}

 /* ========================================================================================================================= */

  /* Nav-container !!!!!!!!!!!!!!! */
  .Nav-container {
    /* text-align: center; */
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* padding: 10px; */
  }
  
   /* ========================================================================================================================= */

    /* button !!!!!!!!!!!!!!! */
   .button {
    background-color: #1088d8;
    color: #ffffff; /* Set the color of the text to white */
    transition-duration: 0.4s;
    border: 1px solid #1088d8; /* Add a border */
    margin: auto;
    display: flex;
    border-radius: 20px;
    padding: 6px;
    padding-left: 15px; /* เพิ่มพื้นที่ว่างด้านซ้าย */
    padding-right: 15px; /* เพิ่มพื้นที่ว่างด้านขวา */
  }
  
  .button:hover {
    background-color: #ffffff;
    color: #1088d8; /* Set the color of the text to #1088d8 when hovered */
    border-color: #1088d8; /* Set the border color to #1088d8 when hovered */
  }

     /* ========================================================================================================================= */
