
 /* ========================================================================================================================= */

  /* navbar !!!!!!!!!!!!!!! */

.navbar-color {
    background-color: #47345F; /* สีพื้นหลังที่คุณต้องการ */

}

 /* ========================================================================================================================= */

  /* container !!!!!!!!!!!!!!! */

.container-color {
    background-color: #dee2e6;
  }
  
 /* ========================================================================================================================= */

    /* sidebar !!!!!!!!!!!!!!! */
    
  .sidebar.open {
    left: 0; /* นำ sidebar เข้ามาแสดงบนหน้าจอเมื่อเปิด */
  }

  .sidebar {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* เพิ่มเงา */
    background-color: #f8f9fa;
    width: 250px; /* กำหนดความกว้างของ Sidebar */
    height: 100vh; /* ทำให้ Sidebar เต็มสูงของหน้าจอ */
    background-color: #ffffff; /* สีพื้นหลังของ Sidebar */
    position: fixed; 
    /* ติดตั้งตำแหน่ง Sidebar ให้อยู่แนวตั้ง */
    /* top: 0; */
     /* จัดตำแหน่ง Sidebar ที่ด้านบนของหน้าจอ */
    left: -190px; /* ซ่อน Sidebar ไว้ด้านซ้ายของหน้าจอ */
    transition: all 0.3s ease; /* ให้มีการเปลี่ยนแปลงแบบอ่อนโยนเมื่อมีการแสดง/ซ่อน Sidebar */
}

 /* ========================================================================================================================= */

  /* Logo !!!!!!!!!!!!!!! */
  .logo-container {
    /* text-align: center; */
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* padding: 10px; */
  }
  
   /* ========================================================================================================================= */

