
 /* ========================================================================================================================= */

  /* navbar !!!!!!!!!!!!!!! */

.navbar-color {
    background-color: #47345F; /* สีพื้นหลังที่คุณต้องการ */

}


 /* ========================================================================================================================= */

  /* container !!!!!!!!!!!!!!! */

.container-color {
    background-color: #dee2e6;
  }
  
 /* ========================================================================================================================= */

    /* sidebar !!!!!!!!!!!!!!! */

  .sidebar.open {
    display: block; /* เมื่อสถานะเปิดให้แสดงผลเป็น block */
  }

  .sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* เพิ่มเงา */
}

  .sidebar ul {
    padding-left: 0;
    list-style: none;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #343a40;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    color: #007bff;
  }
 /* ========================================================================================================================= */

  /* Logo !!!!!!!!!!!!!!! */
  .logo-container {
    /* text-align: center; */
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* padding: 10px; */
  }
  
   /* ========================================================================================================================= */

